.block_ {
    display: block;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.block_1 {
    display: block;
    font-family: serif;
    font-size: 0.75em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.block_2 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.block_3 {
    background-color: #BFBFBF;
    display: block;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 10pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.block_4 {
    display: block;
    margin-bottom: 10pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.block_5 {
    display: list-item;
    margin-bottom: 0;
    margin-left: 36pt;
    padding-bottom: 0;
    padding-top: 0;
    text-align: justify
    }
.block_6 {
    display: list-item;
    margin-bottom: 0;
    margin-left: 36pt;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0;
    text-align: justify
    }
.block_7 {
    display: list-item;
    margin-bottom: 10pt;
    margin-left: 36pt;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0;
    text-align: justify
    }
.block_8 {
    display: block;
    font-weight: bold;
    margin-bottom: 10pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.block_9 {
    display: list-item;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 36pt;
    margin-right: 80pt;
    padding-bottom: 0;
    padding-top: 0;
    text-align: justify
    }
.block_10 {
    display: list-item;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 72pt;
    margin-right: 80pt;
    padding-bottom: 0;
    padding-top: 0;
    text-align: justify
    }
.block_11 {
    display: list-item;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 72pt;
    margin-right: 80pt;
    padding-top: 0;
    text-align: justify
    }
.calibre {
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.calibre1 {
    display: block;
    float: left;
    height: 142pt;
    width: 124pt
    }
.calibre2 {
    font-weight: bold
    }
.calibre3 {
    white-space: pre-wrap
    }
.calibre4 {
    font-weight: bold;
    line-height: 1.2
    }
.calibre5 {
    line-height: 1.2
    }
.list_ {
    display: block;
    list-style-type: disc;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-top: 0
    }
.list_1 {
    display: block;
    list-style-type: circle;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-top: 0
    }
.tab {
    white-space: pre
    }
.text_ {
    color: #000
    }
.text_1 {
    color: #000;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline
    }

@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }

